@import "../../styles.scss";
.navbar {
  @extend .sticky-top;
  @extend .navbar-toggleable-md;
  @extend .navbar-inverse;
  background-image: linear-gradient($brand-inverse, darken($brand-inverse, 2%));
}

.brand {
  @extend .d-flex;
  @extend .justify-content-start;
}

.container {
  @include media-breakpoint-down(xs) {
    margin: 0;
    &>* {
      width: 100%;
    }
  }
}

.navbar-toggler {
  @extend .ml-auto;
}
