@import "../../styles.scss";
nav {
  @extend .sticky-top;
  background-image: linear-gradient($brand-dark, darken($brand-dark, 2%));
  background-color: $brand-dark;
}

ul {
  @extend .py-3;
  @extend .list-unstyled;
  @extend .d-flex;
  @extend .justify-content-around;
}

li {
  @extend .mx-1;
  @extend .h5;
}

a {
  color: $brand-primary;
  @include transition($btn-transition);
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
