<header class="navbar">
  <nav class="container">
    <div class="brand">
      <a routerLink="/home" class="navbar-brand">Michael Utz</a>
      <button (click)="toggleNavbar($event)" class="navbar-toggler">
        <span id="navbar-toggler" class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div [collapse]="isCollapsed" class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" *ngFor="let link of links">
          <a class="nav-link" [routerLink]="link.route">{{link.title}}</a>
        </li>
        <li class="nav-item">
          <a href="https://docs.google.com/document/d/12SZyLVTrUs41Zc2IIH5wrJKoYM6scCEAJ5Qk2GE1UJk/edit?usp=sharing" target="_blank"
            class="nav-link">Résumé</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
