@import "../../styles.scss";
.jumbotron {
    height: 400px;
    background-image: url('/assets/metal-bird.jpeg');
    background-size: cover;
    border-radius: 0;

    @include media-breakpoint-up(md) {
        background-position-y: -90px;
    }

    @include media-breakpoint-up(lg) {
        background-position-y: -180px;
    }

    @include media-breakpoint-up(xl) {
        background-position-y: -290px;
        height: 550px;
    }
}