@import "../../styles.scss";
.jumbotron {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
  height: 100vh;
  background-image: url('/assets/desk-576.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0;
  margin: 0;
  @include media-breakpoint-up(sm) {
    background-image: url('/assets/desk-768.jpg');
  }
  @include media-breakpoint-up(md) {
    background-image: url('/assets/desk-992.jpg');
  }
  @include media-breakpoint-up(lg) {
    background-image: url('/assets/desk-1200.jpg');
  }
  @include media-breakpoint-up(xl) {
    background-image: url('/assets/desk-1600.jpg');
  }
}

h1 {
  @extend .display-4;
  @extend .mb-2;
  text-align: center;
  font-family: 'Eczar';
  color: $white;
  opacity: 0.85;
  text-shadow: 3px 3px 4px $brand-dark;
  @include media-breakpoint-up(sm) {
    font-size: $display3-size;
  }
  @include media-breakpoint-up(md) {
    font-size: $display2-size;
  }
  @include media-breakpoint-up(lg) {
    font-size: $display1-size;
  }
  @include media-breakpoint-up(xl) {
    font-size: $display1-size * 1.5;
  }
}

.roles {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .p-0;
  @extend .mb-0;
  list-style-type: none;
}

.role,
.role:not(:last-of-type)::after {
  @extend .ml-1;
  @extend .p-0;
}

.role {
  @extend .display-4;
  color: darken($white, 20);
  text-shadow: 1px 1px 2px transparentize($brand-dark, 0.4);
  font-size: $font-size-h5;
  &:not(:last-of-type)::after {
    content: attr(data-divider);
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-h3;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-h2;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-h1;
  }
  @include media-breakpoint-up(xl) {
    font-size: $display4-size;
  }
}
