<div class="container">
  <h2 class="title">Skills</h2>
  <div class="skills">
    <app-doughnut-chart name="HTML" level="95" [color]="chartColor"></app-doughnut-chart>
    <app-doughnut-chart name="CSS" level="95" [color]="chartColor"></app-doughnut-chart>
    <app-doughnut-chart name="JavaScript" level="80" [color]="chartColor"></app-doughnut-chart>
    <app-doughnut-chart name="Sass/LESS" level="70" [color]="chartColor"></app-doughnut-chart>
    <app-doughnut-chart name="Node/NPM" level="75" [color]="chartColor"></app-doughnut-chart>
    <app-doughnut-chart name="PHP" level="70" [color]="chartColor"></app-doughnut-chart>
    <app-doughnut-chart name=".NET Core" level="50" [color]="chartColor"></app-doughnut-chart>
  </div>
</div>
