<div class="card-header" (click)="bs-collapse.toggle()">
  <h4>{{item.company}}</h4>
  <i class="fa" [ngClass]="{'fa-chevron-down': !collapse.collapse, 'fa-chevron-up': collapse.collapse }" aria-hidden="true"></i>
</div>
<div class="card-block" #collapse="bs-collapse" [collapse]="collapseBody">
  <h5 class="card-title">{{item.title}}</h5>
  <div [innerHtml]="item.description"></div>
</div>
<div class="card-footer">
  <small class="text-muted"> {{item.startDate | workHistoryDate}} to {{item.endDate | workHistoryDate}} </small>
</div>
