<div class="card-header" (click)="toggle()">
  <h4>{{item.company}}</h4>
  <i class="fa" [ngClass]="{'fa-chevron-down': !collapse, 'fa-chevron-up': collapse }"></i>
</div>
<div class="card-block" *ngIf="collapse" [@collapse] (@collapse.start)="setAlignment()">
  <h5 class="card-title" [@collapse]>{{item.title}}</h5>
  <p class="card-text" [@collapse] [innerHtml]="item.description"></p>
</div>
<div class="card-footer">
  <small class="text-muted"> {{item.startDate | workHistoryDate}} to {{item.endDate | workHistoryDate}} </small>
</div>
