/* Coolors Exported Palette - coolors.co/114c82-c2996b-7f5440-63443d-2e2d36 */

/* HSL */
$color1: hsla(209%, 77%, 29%, 1);
$color2: hsla(32%, 42%, 59%, 1);
$color3: hsla(19%, 33%, 37%, 1);
$color4: hsla(11%, 24%, 31%, 1);
$color5: hsla(247%, 9%, 19%, 1);

/* RGB */
$color1: rgba(17, 76, 130, 1);
$color2: rgba(194, 153, 107, 1);
$color3: rgba(127, 84, 64, 1);
$color4: rgba(99, 68, 61, 1);
$color5: rgba(46, 45, 54, 1);