/* Coolors Exported Palette - coolors.co/709795-d1e5da-908c8e-9e826c-213938 */

/* HSL */
$color1: hsla(177%, 16%, 52%, 1);
$color2: hsla(147%, 28%, 86%, 1);
$color3: hsla(330%, 2%, 56%, 1);
$color4: hsla(26%, 20%, 52%, 1);
$color5: hsla(178%, 27%, 18%, 1);

/* RGB */
$color1: rgba(112, 151, 149, 1);
$color2: rgba(209, 229, 218, 1);
$color3: rgba(144, 140, 142, 1);
$color4: rgba(158, 130, 108, 1);
$color5: rgba(33, 57, 56, 1);