@import "../node_modules/bootstrap/scss/_variables.scss";

// Colors
$brand-primary: $color1;
$brand-accent-1: $color2;
$brand-accent-2: $color3;
$brand-accent-3: $color4;
$brand-dark: $color5;

// Fonts
$font-family-base: "Merriweather", $font-family-serif;
$headings-font-family: "Julius Sans One", $font-family-sans-serif;