@import "../node_modules/bootstrap/scss/_variables.scss";
// Name Semantic Colors
$brand-primary: $color1;
$brand-accent-1: $color2;
$brand-accent-2: $color3;
$brand-accent-3: $color4;
$brand-dark: $color5;
// Customize Changes
$link-color: $brand-primary;
$headings-color: $brand-dark;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
// Fonts
$font-family-base: "Lato",
$font-family-sans-serif;
